<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ru.megazlo.aidaot">

	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme.NoActionBar"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning"
		tools:replace="android:supportsRtl,android:icon">
		<activity
			android:name=".MainActivityGen"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

			<intent-filter>
				<action android:name="ru.megazlo.aidaot.TIME_ACTION"/>
			</intent-filter>
		</activity>
		<activity android:name=".SetupActivityGen">
		</activity>
	</application>

</manifest>